<main>
    <div class="jumbotran jumbotran-fluid">
      <div class="container">
        <h1 class="display-4">About</h1>
      </div>
    </div>
  </main>
  
  <article>
        <h3 style = "color:white; text-align:center"> Concert Finder Inc. is music lovers' go-to for finding their favorite concerts.  </h3>
        <br>
        <br>
        <br>
        <br>
        <h2 style = "color:white; text-align:center; font-weight:bold"> The Team</h2>
        <div class="image-container">
          <div>
            <img src="./assets/images/Jon.jpg" alt="Image 1" class="image">
            <h4  class="image-description">Jon</h4>
          </div>
          <div>
            <img src="./assets/images/Abin.jpg" alt="Image 2" class="image">
            <h4 class="image-description">Abin</h4>
          </div>
          <div>
            <img src="./assets/images/Zach.png" alt="Image 3" class="image">
            <h4 class="image-description">Zach</h4>
          </div>
          <div>
            <img src="./assets/images/Zeke.jpg" alt="Image 4" class="image">
            <h4 class="image-description">Adekunle</h4>
          </div>
  
        </div>
              <br>
        <br>
              <br>
        <br>
  </article>
