<main>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <h1 class="display-4"><%= title %></h1>
    </div>
  </div>
</main>

<article>
      <h3 style = "color:white; text-align:center"> Concert Finder Inc. is music lovers' go-to for finding their favorite concerts.  </h3>
</article>