<footer>
<nav class="navbar sticky-bottom navbar-dark bg-primary">
     

    <h6 class="navbar-text">&copy;Copyright 2023. All Rights reserved</h6>
    <a class = "navbar-brand" href = "https://github.com/amalayil23/Web_Script_Final_G2"> <i class ="fa-brands fa-lg fa-github fa-sm"></i>
    <a class = "navbar-brand" href = "https://www.youtube.com/watch?v=QxsUHaeZTRg">Demo Video <i class="fa-brands fa-youtube fa-lg"> </i>
    </div>
</nav>
</footer>