<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Consolas&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </head>
<footer>
    <div id="footer1">
      <nav class="navbar footer fixed-bottom navbar-dark bg-primary navbar-expand">
        <div class="container">
          <h6 class="navbar-text text-center mx-auto">&copy; Copyright 2023. All Rights reserved</h6>
  
          <!-- Add more links under Helpful Links -->
          <div class="navbar-nav">
            <a class="nav-link" href="#">Helpful Link</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">VIP</a>
                <a class="dropdown-item" href="#">Deals</a>
                <a class="dropdown-item" href="#">Refunds and Exchanges</a>
                
              </div>
            </div>
            <!-- Add more links under Our Network -->
            <a class="nav-link" href="#">Our Network</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Live Nation</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">House of Blues</a>
                <a class="dropdown-item" href="#">Front Gate Tickets</a>
                <a class="dropdown-item" href="#">TicketWeb</a>
                
              </div>
            </div>
            <!-- Add more links under About Us -->
            <a class="nav-link" href="#">About Us</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Who We Are</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Ticketing 101</a>
                <a class="dropdown-item" href="#">Work With Us</a>
                <a class="dropdown-item" href="#">Innovation</a>
              </div>
            </div>
            <!-- Add more links under Friends and Partners -->
            <a class="nav-link" href="#">Friends & Partners</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PayPal</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Allianz</a>
                <a class="dropdown-item" href="#">AWS</a>
              </div>
            </div>
          </div>
  
          <!-- Add the Font Awesome GitHub icon and link -->
          <a class="navbar-brand" href="https://github.com/amalayil23/Web_Script_Final_G2">
            <i class="fab fa-github fa-lg fa-sm"></i>
          </a>
        </div>
      </nav>
    </div>
  </footer>
  