<footer>
<div id="footer1">
<nav class="navbar footer fixed-bottom navbar-dark bg-primary">
    
    <h6 class="navbar-text">&copy;Copyright 2023. All Rights reserved</h6>
    <a  class = "navbar-brand" href = "https://github.com/amalayil23/Web_Script_Final_G2"> <i class ="fa-brands fa-lg fa-github fa-sm"></i>
    
</nav>
</div>
</footer>