<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Consolas&display=swap">
</head>
<footer>
<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <h6 class="navbar-text">&copy;Copyright 2023. All Rights reserved</h6>
    <a class="navbar-brand" href="https://github.com/amalayil23/Web_Script_Final_G2"><i class="fa-brands fa-github fa-lg"></i></a>
    <a class = "navbar-brand" href = "https://www.youtube.com/watch?v=QxsUHaeZTRg">Demo Video 1<i class="fa-brands fa-youtube fa-lg"> </i>
    <a class = "navbar-brand" href = "https://www.youtube.com/watch?v=QxsUHaeZTRg">Demo Video 2 <i class="fa-brands fa-youtube fa-lg"> </i>
</nav>
</footer>