<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Consolas&display=swap">

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Concert Finder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <!-- Home Icon ------------------------------------------------>
          <li class="nav-item">
            <% if(title == "Home") { %>
              <a class="nav-link active" href="/">
            <% } else { %>
              <a class="nav-link" href="/">
            <% } %>
              <i class="fa-solid fa-house-chimney fa-lg"></i> Home</a>
          </li>

          <!-- About Icon ------------------------------------------------>
          <li class="nav-item">
            <% if(title == "About Us") { %>
              <a class="nav-link active" href="/about">
            <% } else { %>
              <a class="nav-link" href="/about">
            <% } %>
              <i class="fa-solid fa-building fa-lg"></i> About</a>
          </li>

          <!-- Products Icon ------------------------------------------------>
          </li>
          <li class="nav-item">
            <% if(title == "Products") { %>
              <a class="nav-link active" href="/products">
            <% } else { %>
              <a class="nav-link" href="/products">
            <% } %>
              <i class="fa-solid fa-bag-shopping fa-lg"></i> Products</a>
          </li>

    
        <!-- Services Icon ------------------------------------------------>
          </li>
          <li class="nav-item">
            <% if(title == "Services") { %>
              <a class="nav-link active" href="/services">
            <% } else { %>
              <a class="nav-link" href="/services">
            <% } %>
              <i class="fa-solid fa-server fa-xl"></i> Services</a>
          </li>

          <!-- concertlist Icon ------------------------------------------------>

          <li class="nav-item">
            <% if(title == "Concert List") { %>
              <a class="nav-link active" href="/concertlist">
            <% } else { %> 
              <a class="nav-link" href="/concertlist">
            <% } %>
            <i class="fa-solid fa-music fa-lg"></i> Concerts</a>
          </li>

          <!-- Demo Icon ------------------------------------------------>
            <li class="nav-item">
            <% if(title == "Demo") { %>
              <a class="nav-link active" href="/demos">
            <% } else { %> 
              <a class="nav-link" href="/demos">
            <% } %>
            <i class="fa-brands fa-youtube fa-lg"></i> Demo</a>
          </li>

          <!-- Contactus Icon ------------------------------------------------>
            <li class="nav-item">
            <% if(title == "Contact Us") { %>
              <a class="nav-link active" href="/contact">
            <% } else { %> 
              <a class="nav-link" href="/contact">
            <% } %>
            <i class="fa-solid fa-phone-volume fa-lg"></i> Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>