<main>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <h1 class="display-4"><%= title %></h1>
      <h1> Here is an example of some concerts to help with your search </h1>
    </div>

      <div class="button-container">
  <a href="/concertlist" class="more-button">For more</a>
</div> 

  </div>

<div class="image-container">
  <div class="image-row">
  <div class="image-item">
    <img src="Asset/images/img2.jpg" alt="Image 2">
    <div class="image-description">
      <p>Filmore East</p>
    </div>
  </div>

  <div class="image-item">
    <img src="Asset/images/img3.jpg" alt="Image 3">
    <div class="image-description">
      <p>Greatful Dead</p>
    </div>
  </div>

  <div class="image-item">
    <img src="Asset/images/img4.jpg" alt="Image 4">
    <div class="image-description">
      <p>Jazz Club</p>
    </div>
  </div>
<br>
  <div class="image-item">
    <img src="Asset/images/img5.webp" alt="Image 4">
    <div class="image-description">
      <p>Blues Music</p>
    </div>
  </div>

    <div class="image-item">
    <img src="Asset/images/img6.jpg" alt="Image 4">
    <div class="image-description">
      <p>The Weekend</p>
    </div>
  </div>


    <div class="image-item">
    <img src="Asset/images/img7.jpg" alt="Image 4">
    <div class="image-description">
      <p>The Distillers</p>
    </div>
  </div>
<br>
    <div class="image-item">
    <img src="Asset/images/img8.png" alt="Image 4">
    <div class="image-description">
      <p>Daft Punk</p>
    </div>
  </div>
  
      <div class="image-item">
    <img src="Asset/images/img9.webp" alt="Image 4">
    <div class="image-description">
      <p>Bulit88 Canoe Verband</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/img10.webp" alt="Image 4">
    <div class="image-description">
      <p>Ramones.</p>
    </div>
  </div>
<br>
      <div class="image-item">
    <img src="Asset/images/img11.jpg" alt="Image 4">
    <div class="image-description">
      <p>Radio Head</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/img12.jpg" alt="Image 4">
    <div class="image-description">
      <p>Rock Party</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/img13.jpg" alt="Image 4">
    <div class="image-description">
      <p>Katy Perry</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/img14.jpg" alt="Image 4">
    <div class="image-description">
      <p>Rock Concert in Boston</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/15.jpg" alt="Image 4">
    <div class="image-description">
      <p>Simple Plan by the FillMore</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/16.jpg" alt="Image 4">
    <div class="image-description">
      <p>Rock Fest </p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/17.jpg" alt="Image 4">
    <div class="image-description">
      <p>Nirvanax </p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/18.jpg" alt="Image 4">
    <div class="image-description">
      <p>Courteeners</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/19.jpg" alt="Image 4">
    <div class="image-description">
      <p> Iggy</p>
    </div>
  </div>

      <div class="image-item">
    <img src="Asset/images/20.webp" alt="Image 4">
    <div class="image-description">
      <p>Ancient Dreams in a modern land</p>
    </div>
  </div>

        <div class="image-item">
    <img src="Asset/images/21.jpg" alt="Image 4">
    <div class="image-description">
      <p> Velvet Underground</p>
    </div>
  </div>

        <div class="image-item">
    <img src="Asset/images/22.jpg" alt="Image 4">
    <div class="image-description">
      <p> Dpiritualized</p>
    </div>
  </div>

        <div class="image-item">
    <img src="Asset/images/23.jpg" alt="Image 4">
    <div class="image-description">
      <p> Beck Cafe Tacuba</p>
    </div>
  </div>

        <div class="image-item">
    <img src="Asset/images/24.jpg" alt="Image 4">
    <div class="image-description">
      <p> Kevin Costner</p>
    </div>
  </div>

        <div class="image-item">
    <img src="Asset/images/25.jpg" alt="Image 4">
    <div class="image-description">
      <p> Melvins</p>
    </div>
  </div>
  </div>
</div>
</main>