<main>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <h1 class="display-4"><%= title %></h1>
    </div>
  </div>
</main>
<article>
    <h3 style = "color:white; text-align:center"> We are working on bringing exciting services to you. </h3>
</article>