#footer1 a
{
    text-align: center !important;
}

.jumbotran{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.homeScreen h1{
    display: flex;
    font-size: 90px;
    justify-content: center;
    margin-top: 250px;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

